node_modules
.env
coverage
coverage.json
typechain
typechain-types

#Hardhat files
cache

artifacts/@openzeppelin
artifacts/build-info
!artifacts/contracts/CryptoPenguin.sol/CryptoPenguin.json
!artifacts/contracts/CryptoPenguin.sol/CryptoPenguin.dbg.json

# Lock Files
package-lock.json
pnpm-lock.yaml
yarn.lock

