# Prisma
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/crypto-penguins?schema=public"

# Moralis
MORALIS_API_KEY=
APP_DOMAIN=cryptopenguins.dylanplayer.com

# NextAuth
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=

# Hardhat
CONTRACT_ADDRESS=Cb4f12AcE3DC31C5325EAdf773f3c8dd3AC0626E
