# Prisma
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/crypto-penguins?schema=public"

# Moralis
MORALIS_API_KEY=
APP_DOMAIN=cryptopenguins.dylanplayer.com

# NextAuth
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=

# Hardhat
CONTRACT_ADDRESS=07B60FA0d35e2311FA983D879aDd0498129220C4
